dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
dist_*
.hsenv_*
TAGS
.diagrams_cache
.diagrams-cache
/.cabal-sandbox/
/cabal.sandbox.config

*-diagrams-latex-fig*.txt
*-diagrams-latex-fig*.pdf
*-diagrams-latex-fig*.eps
*-diagrams-latex-fig*.pdf
*-diagrams-latex-fig*.hs
*.hw.pdf
*.hw.tex
*.slides.tex
*.slides.pdf
*.inclass.lhs

diagrams/*.eps
diagrams/*.

*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.vrb
